p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.8em;
    font-variant: small-caps;

    letter-spacing: 5px;
    word-spacing: 8px;
    line-height: 1.2;

    text-decoration: underline overline dashed blue;

    text-align: right;
  }